.main {
	width: 100%;
}

.header {
	width: 100%;
	height: 108;
	background: transparent url("../images/bg_header.png") repeat-x center
		top;
}

.logo {
	margin-top: 0px;
	height: 100%;
	background: transparent url("../icon/admin_logo.png") no-repeat 30px 0;
	width: 200px;
	left: 0px;
	float: left;
}

.header_center {
	height: 100%;
}

.page_center {
	width: 1024;
}

.div_login {
	width: 300px;
	height: 100%;
	float: right;
}

.menu_top {
	width: 100%;
	height: 90;
	background: transparent url("../images/bg_menu_top.png") repeat-x center
		top;
}

.menu_top_1 {
	float: left;
	width: 1024;
	height: 50px;
}

.menu_top_1 ul {
	float: left;
	margin-top: 8px;
}

.menu_top_1 ul li {
	list-style: none;
	float: left;
	width: 99;
	height: 40px;
}

.menu_top_item {
	color: #DFDDD1;
	background: transparent url("../images/menu_top.png") no-repeat center
		bottom;
}

.menu_top_focus {
	color: #878888;
	background: transparent url("../images/menu_top_focus.png") no-repeat
		center bottom;
}

.menu_item {
	padding-top: 10px;
	font-weight: bold;
	cursor: pointer;
}

.submenu {
	float: left;
	height: 38px;
	width: 1024;
	height: 38px;
	color: #999999;
}

.submenu ul {
	float: left;
	padding-top: 0px;
	height: 38px;
	margin-top: 0px;
}

.submenu li {
	list-style: none;
	float: left;
	margin-left: 20px;
	padding-top: 10px;
	height: 100%;
}

.submenu_item_select {
	color: #ab8718;
	cursor: pointer;
}

.submenu_item {
	cursor: pointer;
}

.content {
	float: left;
	width: 100%;
	height: auto;
	min-height: 320px;
	background: transparent url("../images/bg_content.png") repeat-x center
		0;
}

.left_content {
	height: auto;
	width: 757px;
	float: left;
}

.left_content_top {
	margin-top: 20px;
	float: left;
	width: 100%;
	height: 25px;
	font-size: 20px;
	color: #999999;
}

.left_content_bottom {
	float: left;
	width: 100%;
	height: auto;
}

.grid {
	width: 100%;
	height: auto;
}

.grid_header {
	width: 707px;;
	height: 46px;
	background: transparent url("../images/grid_header.png") no-repeat
		center bottom;
}

.content_right {
	float: left;
	width: 265;
	height: 100%;
	margin-top: 20px;
}

.grid_center {
	width: 707px;
	height: auto;
	background: transparent url("../images/bg_gird_center.png") repeat-y
		left top;
}

.gird_bottom {
	width: 707px;
	height: 9px;
	background: transparent url("../images/bg_gird_bottom.png") no-repeat
		top;
}

.footer {
	float: left;
	width: 100%;
	height: 84px;
	background: transparent url("../images/footer.png") repeat-x top;
}

.footer_center {
	width: 1024;
	height: 100%;
	background: transparent url("../images/ehoteladmin_16-1.png") no-repeat
		top;
}

.div_table {
	width: 100%;
	height: 220;
	min-height: 240;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.div_paging {
	width: 100%;
	height: 20px;
	float: left;
}

.div_page { /*width: 250px;*/
	height: 20px;
	margin-top: -5px;
	margin-left: 300px;
}

.div_page1 {
	height: 20px;
}

.div_pagesize {
	width: 180px;
	height: 20px;
	float: right;
}

.text_pagesize {
	width: 100px;
	height: 20px;
	float: left;
}

.div_mainpage {
	height: 20px;
	width: 100%;
	margin-top: 5px;
}

.div_page_a {
	color: #A7800A;
	float: left;
	margin-left: 15px;
	height: 100%;
}

.div_page_a_sel {
	float: left;
	margin-left: 15px;
	height: 100%;
	color: red;
}

.div_page_icon_left {
	float: left;
	width: 16px;
	height: 100%;
	background: transparent url("../icon/arrow_left.png") no-repeat center;
	cursor: pointer;
}

.div_page_icon_right {
	margin-left: 15px;
	float: left;
	width: 16px;
	height: 100%;
	background: transparent url("../icon/arrow_right.png") no-repeat center;
	cursor: pointer;
}

.form_change_subject {
	width: 420;
	height: 300;
	background-color: white;
	z-index: 1002;
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #A7800A;
}

.change_subject_top {
	float: left;
	width: 100%;
	height: 16px;
	background: transparent url("../images/change_370_top.png") no-repeat
		center bottom;
}

.change_subject_center {
	float: left;
	width: 100%;
	height: auto;
	background: transparent url("../images/change_370_center.png") repeat-y
		center;
}

.change_subject_bottom {
	float: left;
	width: 100%;
	height: 6px;
	background: transparent url("../images/change_370_bottom.png") no-repeat
		center top;
}

.change_subject_header {
	height: 30px;
	background: transparent url("../images/header_44.png") repeat-x top
		center;
}

.div_sub_buton {
	height: 25px;
	width: 180;
}

.form_detail_song {
	width: 610;
	height: 370;
	background-color: white;
	z-index: 1002;
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #A7800A;
}

.div_Title_song {
	width: 100%;
	height: 35px;
	float: left;
	font-size: 22px;
	color: #000066;
	background-color: #D3D0BE;
	text-align: left;
	text-indent: 10px;
	cursor: move;
}

.div_name_song {
	width: 100%;
	float: left;
	height: 25;
	margin-top: 5px;
}

.change_subject_song {
	width: 100%;
	float: left;
	height: 30px;
}

.div_singer_song {
	width: 100%;
	float: left;
	height: 25;
	margin-top: 5px;
}

.div_album_song {
	width: 100%;
	float: left;
	height: 25;
	margin-top: 5px;
}

.div_lyric_song {
	width: 100%;
	float: left;
	height: 200;
	margin-top: 5px;
}

.left_detail {
	height: 100%;
	width: 100px;
	float: left;
	margin-left: 25px;
}

.right_detail {
	height: 100%;
	width: 250px;
	float: left;
}

.textbox_detail {
	width: 300;
	border: 1px solid #dddddd;
	height: 23px;
}

.textbox_lyric {
	float: left;
	border: 1px solid #dddddd;
}

.left_change_subject {
	float: left;
	width: 150px;
	height: 190px;
	margin-left: 35px;
}

.right_change_subject {
	float: right;
	width: 150px;
	margin-right: 30px;
	height: 190px;
}

.add_subject {
	cursor: pointer;
	height: 30px;
	width: 30px;
	margin-top: 10px;
	background: transparent url("../icon/arrow_right.png") no-repeat top
		center;
}

.remove_subject {
	cursor: pointer;
	height: 30px;
	width: 30px;
	margin-top: 10px;
	background: transparent url("../icon/arrow_left.png") no-repeat top
		center;
}

.list_select_sub {
	width: 145px;
	outline: #8e8f8f;
	border: 2px solid #8e8f8f;
}

.div_playmod {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 350;
	border: 1px solid red;
	z-index: 1000;
}

.objectplay {
	width: 350;
	height: 55;
	float: left;
}

.div_bt_play {
	float: left;
	width: 100%;
	height: auto;
}

.div_subject_image {
	float: left;
	width: 100%;
	height: 100px;
}

.div_upload {
	float: left;
	width: 100%;
	height: 30px;
}

.frame_upload {
	background: transparent url("../images/center_236.png") repeat-y top
		center center;
	margin-top: -15px;
}