<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>ServiceMain</servlet-name>
		<servlet-class>ehotel.admin.Mod.ServiceMain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigFtp</servlet-name>
		<servlet-class>ehotel.admin.Vod.ConfigFtpServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceParent</servlet-name>
		<servlet-class>ehotel.admin.Mod.ServiceParent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>ehotel.admin.Mod.Uploadfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadxls</servlet-name>
		<servlet-class>ehotel.admin.pms.UploadfileXLS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadoutxls</servlet-name>
		<servlet-class>ehotel.admin.pms.UploadfileOutXLS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imageupload</servlet-name>
		<servlet-class>ehotel.admin.Mod.UploadfileImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceCommon</servlet-name>
		<servlet-class>ehotel.admin.Mod.ServiceCommon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Service</servlet-name>
		<servlet-class>ehotel.admin.Service.Service</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>contentvod</servlet-name>
		<servlet-class>ehotel.admin.Vod.Contentvod</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serviceVod</servlet-name>
		<servlet-class>ehotel.admin.Vod.serviceVod</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceJSP</servlet-name>
		<servlet-class>ehotel.admin.Service.ServiceJSP</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModSrvMain</servlet-name>
		<servlet-class>ehotel.admin.Mod.ModSrvMain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServicePms</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceHotel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceFolioPms</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceFolioPms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceActiviti</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceActiviti</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Attraction</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceAttaction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServicePromotion</servlet-name>
		<servlet-class>ehotel.admin.pms.ServicePromotion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceOther</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceOther</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceExchange</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceExchange</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceTranport</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceTranport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceUpload</servlet-name>
		<servlet-class>ehotel.admin.Service.ServiceUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceAdvertise</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceAdvertise</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceDinning</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceDinning</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceHouseKeeping</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceHouseKeeping</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceMapDirection</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceMapDirection</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceAdmin</servlet-name>
		<servlet-class>ehotel.admin.System.ServiceAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceHome</servlet-name>
		<servlet-class>ehotel.admin.Service.ServiceHome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceAdminRoleMng</servlet-name>
		<servlet-class>ehotel.admin.System.ServiceAdminRoleMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceReport</servlet-name>
		<servlet-class>ehotel.admin.Report.VodReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoomServiceReport</servlet-name>
		<servlet-class>ehotel.admin.Report.RoomServiceReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serviceImage</servlet-name>
		<servlet-class>ehotel.admin.Report.serviceImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceLiveTVMain</servlet-name>
		<servlet-class>ehotel.admin.LiveTV.ServiceLiveTVMain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>checkImage</servlet-name>
		<servlet-class>ehotel.admin.Service.checkImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>otherStatic</servlet-name>
		<servlet-class>ehotel.admin.Report.otherStatic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Monitor</servlet-name>
		<servlet-class>ehotel.admin.Monitor.Monitor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>downloadFile</servlet-name>
		<servlet-class>ehotel.admin.Monitor.downloadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceAddvodstb</servlet-name>
		<servlet-class>ehotel.admin.vodstb.ServiceAddvodstb</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PmsShopping</servlet-name>
		<servlet-class>ehotel.admin.pms.PmsShopping</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload_xls_Exchange</servlet-name>
		<servlet-class>ehotel.admin.pms.UploadEchangeXLS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadPromotion</servlet-name>
		<servlet-class>ehotel.admin.pms.UploadPromotion</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>upload_xls_Exchange</servlet-name>
		<url-pattern>/upload_xls_Exchange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PmsShopping</servlet-name>
		<url-pattern>/pms/shopping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceMain</servlet-name>
		<url-pattern>/Content/ModCtnMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigFtp</servlet-name>
		<url-pattern>/Content/ConfigFtp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceParent</servlet-name>
		<url-pattern>/ServiceParent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadxls</servlet-name>
		<url-pattern>/uploadxls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadoutxls</servlet-name>
		<url-pattern>/uploadoutxls</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>UploadPromotion</servlet-name>
		<url-pattern>/uploadpro</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>imageupload</servlet-name>
		<url-pattern>/imageupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceCommon</servlet-name>
		<url-pattern>/ServiceCommon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Service</servlet-name>
		<url-pattern>/ServicePath</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contentvod</servlet-name>
		<url-pattern>/Content/VodCtnMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serviceVod</servlet-name>
		<url-pattern>/Service/VodSrvMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceJSP</servlet-name>
		<url-pattern>/ServiceJSP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModSrvMain</servlet-name>
		<url-pattern>/Service/ModSrvMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServicePms</servlet-name>
		<url-pattern>/pms/hotelPms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceFolioPms</servlet-name>
		<url-pattern>/pms/folioPms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceActiviti</servlet-name>
		<url-pattern>/pms/ServiceActi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Attraction</servlet-name>
		<url-pattern>/pms/Attraction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServicePromotion</servlet-name>
		<url-pattern>/pms/ServicePromotion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceOther</servlet-name>
		<url-pattern>/pms/ServiceOther</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceExchange</servlet-name>
		<url-pattern>/pms/ServiceExchange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceTranport</servlet-name>
		<url-pattern>/pms/ServiceTranport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceUpload</servlet-name>
		<url-pattern>/ServiceUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAdvertise</servlet-name>
		<url-pattern>/pms/ServiceAdvertise</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceDinning</servlet-name>
		<url-pattern>/pms/ServiceDinning</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceMapDirection</servlet-name>
		<url-pattern>/pms/MapDirection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAdmin</servlet-name>
		<url-pattern>/user/UserMgn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceHouseKeeping</servlet-name>
		<url-pattern>/pms/SvcHouseKeeping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceHome</servlet-name>
		<url-pattern>/ServiceHome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAdminRoleMng</servlet-name>
		<url-pattern>/user/RoleMgn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceReport</servlet-name>
		<url-pattern>/report/VideoReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoomServiceReport</servlet-name>
		<url-pattern>/report/RoomsvcReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serviceImage</servlet-name>
		<url-pattern>/serviceImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceLiveTVMain</servlet-name>
		<url-pattern>/Service/LiveTVMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkImage</servlet-name>
		<url-pattern>/resource/images/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>otherStatic</servlet-name>
		<url-pattern>/report/otherStatic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AudioReport</servlet-name>
		<servlet-class>ehotel.admin.Report.AudioReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AudioReport</servlet-name>
		<url-pattern>/report/AudioReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LivetvReport</servlet-name>
		<servlet-class>ehotel.admin.Report.LivetvReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LivetvReport</servlet-name>
		<url-pattern>/report/LivetvReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Monitor</servlet-name>
		<url-pattern>/monitor/VideoMonitor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAddvodstb</servlet-name>
		<url-pattern>/monitor/ServiceSynVodStb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>downloadFile</servlet-name>
		<url-pattern>/downloadFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServiceSystem</servlet-name>
		<servlet-class>ehotel.admin.System.ServiceSystem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceSystem</servlet-name>
		<url-pattern>/system/ServiceSystem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Background</servlet-name>
		<servlet-class>ehotel.admin.System.Background</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Background</servlet-name>
		<url-pattern>/system/Background</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadXml</servlet-name>
		<servlet-class>touch.elcom.data.UploadXml</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadXml</servlet-name>
		<url-pattern>/uploadXml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadFtpServer</servlet-name>
		<servlet-class>elcom.admin.Vod.UploadFtpServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFtpServer</servlet-name>
		<url-pattern>/uploadftpserver</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FileUploadServlet</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>ehotel.admin.pms.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/pms/uploadFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GroupReport</servlet-name>
		<servlet-class>ehotel.admin.Report.MovieGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupReport</servlet-name>
		<url-pattern>/report/GroupReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DetailReport</servlet-name>
		<servlet-class>ehotel.admin.Report.MovieDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailReport</servlet-name>
		<url-pattern>/report/DetailReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductionReport</servlet-name>
		<servlet-class>ehotel.admin.Report.MovieProduction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductionReport</servlet-name>
		<url-pattern>/report/ProductionReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoomReport</servlet-name>
		<servlet-class>ehotel.admin.Report.MovieRoom</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomReport</servlet-name>
		<url-pattern>/report/RoomReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageReport</servlet-name>
		<servlet-class>ehotel.admin.Report.MessageReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageReport</servlet-name>
		<url-pattern>/report/MessageReport</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServiceGeneral</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceGeneral</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceGeneral</servlet-name>
		<url-pattern>/pms/generalPms</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServicePMSService</servlet-name>
		<servlet-class>ehotel.admin.pms.ServicePMSService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServicePMSService</servlet-name>
		<url-pattern>/pms/service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServiceTransportStation</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceTransportStation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceTransportStation</servlet-name>
		<url-pattern>/pms/TransportStationPms</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServiceGuestActivity</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceGuestActivity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceGuestActivity</servlet-name>
		<url-pattern>/pms/GuestActivityPms</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServiceLuxury</servlet-name>
		<servlet-class>ehotel.admin.pms.ServiceLuxury</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceLuxury</servlet-name>
		<url-pattern>/pms/Luxury</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
</web-app>