<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WS_eHotel_eSmile_Admin_Gunich/src/com/elcom/ehotel/esmile/dao/eSmileDao.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.elcom.ehotel.esmile.dao.eSmileDao"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WS_eHotel_eSmile_Admin_Gunich"/>
</launchConfiguration>
