.form_detail_Movie {
	width: 580;
	height: 450;
	background-color: white;
	z-index: 1002;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #A7800A;
}

.left_Title_movie {
	float: left;
	width: 330px;
	margin-top: 15px;
	height: auto;
}

.right_Title_movie {
	float: left;
	width: 200px;
	height: 130px;
	text-align: center;
	margin-top: 15px;
}

.div_name_movie {
	float: left;
	width: 70px;
	height: 20px;
}

.div_inbox_detail {
	margin-top: 5px;
	height: 23px;
	float: left;
	margin-left: 10px;
	text-align: left;
}

.div_des_textare {
	float: left;
	margin-left: 0px;
	height: auto;
}

.div_info_movie {
	width: 100%;
	float: left;
	height: 30px;
}

.div_des_movie {
	width: 100%;
	height: auto;
	margin-top: 5px;
	float: left;
	text-align: left;
	text-indent: 10px;
}

.div_desc_detail {
	float: left;
}
/*
*/
.formCtnSubject {
	position: absolute;
	width: 295px;
	height: 186px;
	background-color: white;
	z-index: 1001;
	border: 2px solid #A7800A;
}

.titleSubject {
	height: 30;
	width: 100%;
	float: left;
	color: #000066;
	font-size: 20px;
	text-align: left;
	text-indent: 15px;
	background-color: #D3D0BE;
}

.rowMovieSubject {
	float: left;
	width: 100%;
	height: 30px;
}

.formTrailer {
	position: absolute;
	width: 389px;
	height: 260px;
	background-color: white;
	z-index: 1001;
	border: 3px solid #A7800A;
}

.formSubtitle {
	position: absolute;
	width: 430px;
	height: auto;
	min-height: 308;
	background-color: white;
	z-index: 1001;
	border: 3px solid #A7800A;
}

.tableSubtitle {
	background-color: #878888;
}

.tableSubtitle tr {
	background-color: white;
	height: 25px;
}

.formAddMovie {
	width: 100%;
	height: auto;
	min-height: 620px;
}

.div_row_right_ctn {
	float: left;
	width: 100%;
	height: 30px;
	margin-top: 3px;
}

.ctnaddlistfile {
	float: left;
	width: 300px;
	height: 280px;
	border: 1px solid #dddddd;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: scroll;
}

.div_left_ctnadd {
	float: left;
	width: 80px;
	text-align: left;
}

.ul_ftp_file {
	color: #878888;
	float: left;
	margin-top: 0px;
	margin-left: 10px;
	padding-left: 0px;
}

.ul_ftp_file li {
	float: left;
	width: auto;
	height: 25px;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.ul_ftp_file li a {
	text-decoration: none;
	min-width: 700;
	height: 25px;
}

.itemfolder {
	width: 700;
	height: 100%;
	float: left;
	color: #878888;
	text-align: left;
	text-indent: 20px;
	background: transparent url("../icon/filder_close.png") no-repeat left
		center;
}

.itemfile {
	width: 700;
	height: 100%;
	float: left;
	color: #878888;
	text-align: left;
	text-indent: 20px;
	background: transparent url("../icon/blank_document.png") no-repeat left
		center;
}